*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0f0f0f;
  overflow: hidden; 
  margin: 0; /* 去除默认的body边距 */
  padding: 0; /* 去除默认的body内边距 */
  
}
.container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease; 
}

.text{
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  transition: 1s;
  z-index: 5;
}
.container:hover + .text {
  transform: translateY(-1000px);
  z-index: 1;
  transition: .5s;
}

.container .card{
  position: absolute;
  width: 240px;
  height: 360px;
  background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
  backdrop-filter: blur(10px); /* 毛玻璃效果 */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(222, 204, 204);
  font-size: 8em;
  font-weight: 700;
  border:10px solid rgba(0,0,0,0.1);
  transition: all .5s;
  transform-origin: 50% 100%;
  box-shadow: 0 15px 50px rgba(0,0,0,0.1);
}
.container:hover .card{
  background: linear-gradient(315deg,#1027ac,#c22eb6);
  border:0px solid rgba(0,0,0,0.1);
  transform: rotate(calc(var(--i) * 5deg))
             translate(calc(var(--i) * 120px), -50px);
  box-shadow: 0 15px 50px rgba(0,0,0,0.25);
  cursor: pointer;
}

.container:not(:hover) {
  transform: translateX(-30vw); /* 鼠标悬停且未点击时，向左移动 */
}

.container:active .card:not(:active){
  background-color: #333;
}

.card.clicked{
  transform: skewX(15deg)
              translate(0, 50px);
  width: 124px;
  height: 460px;
  translate: calc(var(--i) * 20px)  -50px;
  border:0px solid rgba(0,0,0,0.1);
  z-index: 5;
  background: linear-gradient(315deg,#ffbc00,#ff0058);
  border-radius: 10px; /* 圆角 */
  padding: 0px; /* 内边距 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 阴影效果 */
}
  




@keyframes gradientAnimation {
  0% {
    border-color: rgb(0, 0, 0);
  }

  25% {
    border-color: #4945c9;
  }

  50% {
    border-color: #000000;
  }
  100% {
    border-color: #eb7242;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: rgb(13, 46, 118);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}


.avatar{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}


.border-container {
  border-radius: 100px;
  position: absolute;
  backdrop-filter: blur(10px); 
  width: 98%; 
  height: 98%; 
  border: 21px solid;
  backdrop-filter: opacity(0.7);
  padding: 5px;
  box-sizing: border-box; /* 边框和内边距计入宽度 */
  text-align: center; /* 可以根据需要调整文本居中 */
  animation: gradientAnimation 5s infinite alternate;
  z-index: -1;
}

.card .content{
  display: none;
  position: absolute;
  transition: .5s;
}

.card.clicked  .content{
  content: "";
  display: block;
  background-color: rgba(30, 56, 112, 0.507); /* 半透明背景 */
  backdrop-filter: blur(15px); /* 毛玻璃效果 */
  width: 248px;
  height: 360px;
  text-decoration: none;
  border-radius: 8px;
  transform: skewX(-15deg);
  z-index: 999;
}



.mobile-container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10%;
  width: 50%;
  background-color: rgba(63, 161, 227, 0.26);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: transform 0.3s ease;
}

.mobile-background{
  background-image: url("./source/background.png"); /* 替换为你的图片 URL */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}